{
	"parserOptions": {
		"ecmaVersion": 2019,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"rules": {
		"valid-typeof": "error",
		"no-unused-vars": "warn",
		"no-undef": "warn",
		"no-console": "warn"
	},
	"env": {
		"browser": true
	}
}