{
	"parserOptions": {
		"ecmaVersion": 2019,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"extends": ["eslint:recommended", "eslint-config-prettier"], // use eslint recommended configs
	"rules": {
		"strict": ["error", "never"]
	}, // override extended configs
	"env": {
		"browser": true
	}
}