{
	"parserOptions": {
		"ecmaVersion": 2019,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"extends": ["eslint:recommended"], // use eslint recommended configs
	"rules": {}, // override extended configs
	"env": {
		"browser": true
	}
}